################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project3/bin/Debug
/Project3/obj/Debug
/.vs/RitEdu/v14/.suo
